<div class="row">
  <div class="col-9">
<div class="text-danger mb-3"><h3>{{job['title']}}</h3></div>
        <div><b>Location::</b>{{job['location']}}</div>
        {%if 'salary' in job%}
        <div><b>Salary:</b>{{job['salary']}}</div>
  </div>
  <div class="col-3">
<a href="mailto:ptah12655@gmail.com?subject=Application%20for%20{{job['title']}}&body=my%20name%3A%3Center%20name%20here%3E%0D%0Amy%20resume%3A%3Cresume%20link%20here%3E%0D%0Amy%20linkedin%3A%3Clinkedin%20here%3E" type="button" class="btn btn-success">Apply</a>
  </div>
<div class="border-bottom border-success border-2 mb-4"></div>
</div>
        {%endif%}
        
